<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="41823DiegoDaz.Inventario-ProductordelaCiudadFutura" Publisher="CN=FABB7742-6A31-46BA-B91E-1C6461F94AEA" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Inventario - Productor de la Ciudad Futura</DisplayName>
    <PublisherDisplayName>Diego Díaz</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="InventarioProductorCF.Windows.App">
      <m2:VisualElements DisplayName="Inventario - Productor de la Ciudad Futura" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="InventarioProductorCF.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>